body {
   color:white;
   background: black;
   font-family: "Chakra Petch", sans-serif;

}


header {
   border-bottom: solid 2px rgb(194, 30, 30);
   padding: 20px;
   font-size: 32px;
   color: rgb(194, 30, 30);
}

section {
   background: rgb(194, 30, 30);
   padding-bottom: 80px;
   padding-top: 80px;
   display:flex;
   justify-content: center;

}

.chamada-texto {
   margin-right: 20px;
}

img {
     height:255px

}